.index{
	background-color: white;
	margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.top{
	background-color: #32333b;
	height: 30px;
	line-height: 30px;
}

.inner-top{
	height: 30px;
/* 	background-color: green; */
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.inner-top li, .search_t li{
	display: inline-block;
}

.inner-top a{
	color: #ffffff;
	text-decoration: none;
}

.inner-top a:hover{
	color: #e33333;
}

.inner-top a[class="style-red"]{
	color: #e33333;
}

.spacer{
	width: 1px;
	height: 15px;
	background-color: #999;
	margin: 0 8px;
}

.header{
	background-color: #ffffff;
	height: 140px;
}

.headerBody{
	/* background-color: aquamarine; */
	height: 140px;
	display: flex;
}

.hb1{
	flex: 1;
	/* background-color: aqua; */
	text-align: center;
}
.hb2{
	flex: 4;
	/* background-color: antiquewhite; */
	position: relative;
}
.hb2 button{
	width: 80px;
	height: 33px;
	background-color: #e33333;
	border: 0px;
	margin-left: -5px;
	vertical-align: middle;
}

.hb3{
	flex: 1;
	/* background-color: aliceblue; */
}

.hb1 img{
	box-sizing: content-box;
	width: 120px;
	height: 120px;
	padding-top: 5%;
}

.search_m{
	box-sizing: content-box;
	width: 425px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 2px 17px;
	border: 2px solid red;
	vertical-align: middle;
}

.search-icon{
	color: white;
	font-size: 17px;
}

.searchBody{
	margin-top: 25px;
	margin-left: 25px;
}

.search_t a{
	color: #999;
	font-size: 14px;
	text-decoration: none;
}

.search_t a:hover{
	color: red;
	text-decoration: underline;
}

.search_t li{
	padding: 0 5px;
}


#cartNoLogin{
	text-align: center;
}

#cartNoLogin a{
	font-size: 30px;
	font-weight: bold;
	color: black;
}

#cartNoLogin a:hover{
	color: red;
}

.cartd1{
	font-size: 20px;
	color: #e33333;
	font-weight: bold;
	margin-top: 20px;
}

.cartd2{
	margin-top: 10px;
	height: 45px;
	line-height: 45px;
	background-color: #f3f3f3;
	border: 1px solid #e9e9e9;
}

.cartd3{
	margin-left: 10px;
}

.cartul1{
	display: flex;
}

.cartli1{
	flex: 1;
}

.cartli2{
	flex: 4;
}

.cartli3{
	flex: 1;
}

.cartli4{
	flex: 1;
}
.cartli5{
	flex: 1;
}
.cartli6{
	flex: 1;
}

.cartd4{
	height: 120px;
	background-color: #fff4e8;
}

.cartul2{
	display: flex;
	margin-top: 10px;
	padding-top: 10px;
}

.cartul2 img{
	height: 80px;
	width: 80px;
}

.cartd5{
	height: 75px;
	width: 70%;
	line-height: 25px;
	margin-left: 5px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.num-row input{
	width: 60px;
	border: 1px solid #e3e3e3;
	margin-left: -5px;
}

.num-row button{
	width: 25px;
	border: 1px solid #e3e3e3;
}

.ml{
	margin-left: -5px;
}

.cartd6{
	text-align: center;
	margin-top: 10px;
}

.cartul3{
	padding-top: 10px;
}

.cartul3 li{
	display: inline-block;
	margin-left: 25px;
}

.cartul3 li:nth-child(2){
	width: 150px;
}

#totalPrice{
	color: red;
}

.btt{
	background-color: #e33333;
	color: white;
	border: 0px;
	font-size: 20px;
}
/* 底部整体样式 */
.footer {
    background-color: #32333b; /* 黑色背景 */
    color: #fff; /* 白色文字 */
}

/* 左侧内容 */
.footer .bi-telephone-fill {
    font-size: 20px;
}


/* 中间内容 */
.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #ccc;
}

.footer .bi-envelope-at-fill {
    font-size: 20px;
}

/* 社交按钮 */
.social-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #32333b;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #32333b;
}

/* 邮件链接 */
.social-button .social-label {
    margin-left: 5px;
}
.main-content {
    flex: 1;
}
.selected{
	background-color: #00eaff;
}